.slider-container {
  max-width: 100%;
  gap: 5px;
  height: 320px;
}

.slider-image {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 5px;
  cursor: pointer;
  transition: 200ms;
}

.slider-image img {
  height: 70%;
}

.slider-image:hover {
  color: #929292;
}

.react-slideshow-container + ul.indicators {
  margin-top: 10px !important;
}

.arrow {
  padding: 5px;
  background-color: #ffffff;
  cursor: default;
  border: solid;
  border-width: thin;
}

.prev-arrow {
  margin-top: -32px;
  margin-right: -30px;
}

.next-arrow {
  margin-top: -32px;
  margin-left: -30px;
}

.slide {
  text-align: center;
  height: 200px;
}

.tshirt-title {
  font-weight: 500;
}

.tshirt-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.colors-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 5px;
  grid-gap: 5px;
  flex-wrap: wrap;
}

.color-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tshirt-color {
  height: 20px;
  width: 20px;
}

.bbfirstservice {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.bbfirstservice-colors {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

@media only screen and (max-width: 1100px) {
  .slide {
    height: 150px;
  }

  .digital-printing-container {
    flex-direction: column;
  }

  .digital-printing-container img {
    width: 100%;
  }

  .service-title {
    font-size: 26px;
  }

  .bbfirstservice {
    flex-direction: column;
    align-items: flex-start;
  }
}
